.container {
  // max-width: 1370px;
  width: 100%;
  padding: 42px 60px 60px;
  h2 {
    font-size: 3rem;
    font-weight: 500;
    color: #008dff;
    margin-bottom: 32px;
  }
  .orderWrap {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #d6deed;
  }
  .checkBoxWrap {
    display: flex;
    gap: 60px;
    margin-bottom: 24px;
  }
  h3 {
    margin: 16px 0;
    font-size: 20px;
    font-weight: 500;
    color: #008dff;
  }
  .containerFluid:last-child {
    .wrapInformation:nth-child(3),
    .wrapInformation:nth-child(2) {
      flex-wrap: wrap;
      div:first-child {
        max-width: 508px;
      }
      div:nth-child(2) {
        max-width: 240px;
      }
      div:nth-child(3) {
        max-width: 100px;
      }
      div:nth-child(4) {
        max-width: 150px;
      }
      .medicationImg {
        max-width: 60px;
      }
    }
    .wrapInformation:nth-child(2) {
      .medicationImg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
      }
    }
    .wrapInformation:nth-child(3) {
      .medicationImg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        width: 10px;
      }
    }
    .wrapInformation:last-child {
      flex-wrap: wrap;
      gap: 45px;
      div:first-child {
        max-width: 496px;
      }
      div:not(:first-child) {
        max-width: 140px;
      }
    }
  }
  .containerFluid {
    background-color: #fffbf5;
    padding: 32px;
    border: 2px solid #efe6d8;
    border-radius: 10px;
    margin-bottom: 24px;
    h3 {
      // padding-top: 24px;
    }
    .wrapInformation {
      display: flex;
      gap: 50px;
    }

    .wrapInformation2 {
      div:first-child {
        max-width: 822px;
      }
    }
    // div:nth-child(3) {
    //   margin-top: 16px;
    // }
    .checkboxItemMedication {
      margin-bottom: 16px;
    }
    .pickUpRequestime {
      div {
        position: relative;
        padding-left: 32px;
        max-width: 508px;
        img {
          position: absolute;
          left: 0;
          bottom: 50%;
          transform: translate(0%, 50%);
        }
      }
    }
  }
  .colorf2 {
    background-color: #f2f2f2;
    border: none;
    .wrapInformation {
      div {
        width: 50%;
        max-width: 604px;
      }
      div:first-child {
        position: relative;
      }
      input {
        background-color: #f2f2f2;
        color: #828282;
      }
      label {
        color: #828282;
      }
    }
  }
}
