* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f7f7f7;
}
img {
  display: block;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

input {
  outline: none;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --primary: #041967;
}
.wrapper {
  width: 100%;
  max-width: 2214px;
  min-height: 1615px;
  margin: 70px auto;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  border: 1px solid #d6deed;
}

.container {
  max-width: 1924px;
  padding: 6rem;
}
.fixWidth {
  max-width: 1786px;
  width: 100%;
}
